# ========================== Server setup ===============================

SERVER_PORT = 3000

# ========================= Server setup =================================


# ========================= Database setup ===================
DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_USER=XXXXXX
DATABASE_PASSWORD=XXXXX
DATABASE_NAME=employee_db
MONGO_EXPRESS_USER=XXXXX
MONGO_EXPRESS_PASSWORD=XXXXX
# ========================= Database setup ===================


JWT_ACCESS_TOKEN=XXXXX
